
$color-background-primary: whitesmoke;
$color-logo: rgb(30, 29, 29);
$color-nav-links: rgb(49, 46, 46);
$color-nav-links-hover: rgb(49, 46, 46);

$box-shadow: 0 1rem 2rem rgba(117, 118, 149, 0.3);


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-background-primary;
}

.header__img {
    height: 17rem;
    background-image: url(https://www.trbimg.com/img-5bec7741/turbine/ct-books-biblioracle-1118);
}

.stripe {
    height: .2rem;
    background-color: rgba(146, 146, 146, 0.738);
}


.nav {
    display: flex;
    height: 7rem;
    background:$color-background-primary;
    padding: 2rem 4rem 4rem 4rem;
    box-shadow: $box-shadow;
    flex-wrap: wrap;
}


.nav__div--left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__div--right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
    
    // margin-right: 4rem;
}

.nav__link--logo,
.nav__link--right{
    margin: 2rem;
    text-decoration: none;
}

.nav__link--logo {
    font-size: 4rem;
    font-family: 'Ultra', serif;
    color: $color-logo;
}

.nav__link--right{
    font-size: 1.75rem;
    font-family: 'Raleway', serif;
    font-weight: 900;
    color: $color-nav-links;
    padding-right: 4rem;
}

// .nav__link--right:hover {
    
// }

.nav__link--right:active,
.nav__link--logo:active {
    transform: translateY(.1rem);
}

// .break {
//     flex-basis: 100%;
// }

.nav__div--border {
    height: .1rem;
    width: 100vw;
    background-color: rgb(182, 182, 182);

}